*{
    padding: 0;
    margin: 0;
    /* background-color: #1a1a1a; Mudar a cor do fundo */
}


li a{
text-decoration: none; /*Remove o sublinhado */
font-size: 20px; /* Tamanho da font*/
color: #ffffff; /*Mudar a cor da font*/
padding: 20px;
}

li{
    list-style: none; /* Remover formartação da lista*/
}

#logo{

    height: 90px; /*Altura*/
    width: 140px; /*Largura*/
}

ul{
    display: flex; /*Indica a prpriedade FlexBox*/
    flex-direction: row; /*Colocar os elementos na horizontal ou na vertical*/


}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: bisque;
}

.caixa-img-logo{
   
    height: 90px;
    width: 90px;
}